* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
    font-family: cursive;
}
#photo {
  height: 742px;
  width: 100%;
  background-image: url(WallpaperDog-10838035.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
button{
    z-index: 1;
    position:absolute;
    top: 80%;
    left: 80%;
    height: 90px;
    width: 190px;
    font-size: xx-large;
    font-family: cursive;
    border-radius: 30px;
    border: 2px solid rgb(29, 17, 17);
    background-color: rgb(127, 83, 83);
    color: beige;
}
button:hover{
    background-color: beige;
    color: black;
}
.paradiv{
    z-index: 1;
    height: 500px;
    width: 100%;
    position:absolute;
    top: 50px;
    left: 20px;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#para1{
    font-family: cursive;
    font-size: xx-large;
    height: auto;
    width: auto;
}